<a href="https://colab.research.google.com/github/iqraliaqat55/Control-flow-in-Python-ipynb/blob/main/Python_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***python tutorial ***
![python.jfif]()

# **Baby Names Python Exercise**

The Baby Names Python Exercise is a popular beginner-level exercise that helps you practice working with files, strings, and data processing in Python. The exercise typically involves reading data from a text file that contains popular baby names and their corresponding frequencies, and then performing various operations on this data.

**Hereâ€™s a step-by-step guide to solving a typical Baby Names Python Exercise:**

### step.1: Read file

In [7]:
# Function to read baby names from the file
def read_baby_names(filename):
    with open(filename, 'r') as file:
        lines = file.readlines()

    baby_names = {}
    for line in lines:
        name, count = line.strip().split(',')
        baby_names[name] = int(count)

    return baby_names

In [8]:
# Example usage
filename = 'baby_names.txt'
baby_names = read_baby_names(filename)
print(baby_names)

{'Emma': 20799, 'Aliha': 19674, 'Iqra': 18413, 'Isabella': 16976, 'Irha': 16366}

 **Set Up the Data**

In [9]:
baby_names = {
    "Emma": 20799,
    "Aliha": 19674,
    "Iqra": 18413,
    "Isabella": 16976,
    "Irha": 16366
}

**Accessing Data in the Dictionary**

In [10]:
# Accessing a specific name's count
emma_count = baby_names["Emma"]
print(f"Number of babies named Emma: {emma_count}")

Number of babies named Emma: 20799

**Find the Most Popular Name**

In [11]:
def most_popular_name(baby_names):
    return max(baby_names, key=baby_names.get)

# Example usage
most_popular = most_popular_name(baby_names)
print(f"The most popular name is: {most_popular}")

The most popular name is: Emma

**Total Number of Babies**

In [12]:
# Calculate the total number of babies
def total_babies(baby_names):
    return sum(baby_names.values())

# Example usage
total = total_babies(baby_names)
print(f"Total number of babies: {total}")

Total number of babies: 92228

**Explanation:**

sum() adds up all the frequencies (values in the dictionary).

Find All Names with a Specific Letter

In [13]:
# Find names containing a specific letter
def names_with_letter(baby_names, letter):
    return [name for name in baby_names if letter.lower() in name.lower()]

# Example usage
letter = 'a'
names_with_a = names_with_letter(baby_names, letter)
print(f"Names containing the letter '{letter}': {names_with_a}")

Names containing the letter 'a': ['Emma', 'Aliha', 'Iqra', 'Isabella', 'Irha']

**Rank of a Specific Name**

In [15]:
def rank_of_name(baby_names, name):
    sorted_names = sorted(baby_names.items(), key=lambda x: x[1], reverse=True)
    for rank, (n, count) in enumerate(sorted_names, start=1):
        if n == name:
            return rank
    return None  # If name not found

In [16]:
# Example usage
name_to_rank = "Emma"
rank = rank_of_name(baby_names, name_to_rank)
print(f"The rank of the name '{name_to_rank}' is: {rank}")

The rank of the name 'Emma' is: 1

**Explanation:**

The function sorts the names by frequency in descending order and returns the rank of the specified name.

 **Save Processed Data to a New File**

In [17]:
def save_processed_data(baby_names, filename):
    with open(filename, 'w') as file:
        for name, count in sorted(baby_names.items(), key=lambda x: x[1], reverse=True):
            file.write(f"{name}: {count}\n")

# Example usage
output_filename = 'processed_baby_names.txt'
save_processed_data(baby_names, output_filename)
print(f"Processed data saved to {output_filename}")

Processed data saved to processed_baby_names.txt

**Explanation:**

This function writes the sorted names and their counts to a new file.

**Putting It All Together**

In [18]:
def read_baby_names(filename):
    with open(filename, 'r') as file:
        lines = file.readlines()

    baby_names = {}
    for line in lines:
        name, count = line.strip().split(',')
        baby_names[name] = int(count)

    return baby_names

def most_popular_name(baby_names):
    return max(baby_names, key=baby_names.get)

def total_babies(baby_names):
    return sum(baby_names.values())

def names_with_letter(baby_names, letter):
    return [name for name in baby_names if letter.lower() in name.lower()]

def rank_of_name(baby_names, name):
    sorted_names = sorted(baby_names.items(), key=lambda x: x[1], reverse=True)
    for rank, (n, count) in enumerate(sorted_names, start=1):
        if n == name:
            return rank
    return None

def save_processed_data(baby_names, filename):
    with open(filename, 'w') as file:
        for name, count in sorted(baby_names.items(), key=lambda x: x[1], reverse=True):
            file.write(f"{name}: {count}\n")

# Example usage
filename = 'baby_names.txt'
baby_names = read_baby_names(filename)

print(f"Most popular name: {most_popular_name(baby_names)}")
print(f"Total number of babies: {total_babies(baby_names)}")
print(f"Names with the letter 'a': {names_with_letter(baby_names, 'a')}")
print(f"Rank of 'Emma': {rank_of_name(baby_names, 'Emma')}")

output_filename = 'processed_baby_names.txt'
save_processed_data(baby_names, output_filename)

Most popular name: Emma
Total number of babies: 92228
Names with the letter 'a': ['Emma', 'Aliha', 'Iqra', 'Isabella', 'Irha']
Rank of 'Emma': 1

This exercise teaches you how to:

Read and process data from a file.
Perform basic data analysis like finding the most popular name, total count, and ranking.
Work with dictionaries and loops.
Save processed data to a file.
This Baby Names exercise is an excellent way to practice file handling, string manipulation, and working with data structures in Python!